.simple_form {
  color: $dark;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.form-control {
  display: inline;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: $dark;
  border-radius: 5px;
}

.welcome-message > h4 {
  color: $green;
}

.welcome-message > h5 {
  color: $dark;
  font-weight: normal;
  font-size: 18px;
}

.btn-large {
  width: 100%;
}

.offer_category {
  padding-left: 5%;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  padding: 3px !important;
  border-radius: 5px !important;
}

.mapboxgl-ctrl-geocoder--input {
  border: none;
  outline: none;
  width: 100%;
  padding: 2px;
}

// input::placeholder {
//   color: red;
// }

.suggestions {
  // color: rebeccapurple;
  & li {
    padding: 10px;
    width: 100%;
    & .mapboxgl-ctrl-geocoder--suggestion {
      display: flex;
      & > div {
        margin-right: 5px;
      }
    }
  }
  margin: 0;
  padding: 0;
}

.mapboxgl-ctrl-geocoder--powered-by {
  & a {
    display: none !important;
  }
}
