// Specific CSS for your home-page
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  display: flex;
  height: 240px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #05595B;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    img {
      width: 150px;
    }
}

.cards-presentation {
  margin-top: 40px;
  margin-bottom: 22px;
  text-align: center;
  h2 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #062C30
  }
}

.card-category {
  background-size: cover;
  background-position: bottom;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: opacity 0.5s ease-in-out;
}

.cards-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  flex-grow: 1;
  margin-bottom: 90px;
  a {
    text-decoration: none;
    color: $white;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-category:hover{
  opacity: 0.5;
}
