.all-info {
  margin-left: 20px;
}

.profile {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.my-info {
  height: 300px;
  width: 20em;
  border: 1px solid #05595B;
  margin: 10px 10px;
  padding: 4px 4px;
}
