<div class="banner" style="background-image: url(https://blush.design/api/download?shareUri=LG3yUCpja6oHbzDC&c=Skin_0%7Eff9c8a-0.9%7Effd8ea&w=800&h=800&fm=png);">
  <div class="container">
    <h1>Tutti Sporti</h1>
    <p>Sport to be alive, share your sports gear!</p>
    <div class="search">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
