<div class="banner" style="background-image: url(https://blush.design/api/download?shareUri=x0BIbLMMSJ7vY9Ud&c=Skin_0%7Effe571-0.1%7Ea2c9fe-0.2%7Ea2c9fe-0.3%7Ed9c5ff&w=800&h=800&fm=png);">
  <div class="banner-search">
    <h1>Tutti Sporti</h1>
    <p>Sport to be alive, share your sports gear!</p>
    <div class="search">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
