<%= form_tag offers_path, method: :get, class: "simple_form_home search" do %>
<div class="d-flex flex-column">
<h6 class="ms-1 text-success">Find your next sport gear</h6>
<div class="search-form-control form-group">
  <%= text_field_tag :query, params[:query], class: "form-control string required", id: "search_query", placeholder: "Enter your sport, address or gear " %>
  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-search"></i>
  </button>
</div>
<% end %>

</div>
