<%= render "shared/banner" %>

<div class="container">
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offers_path(query: offer.category), class: 'category-link text-decoration-none' do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path offer.photo.key %>)">
        <%= offer.category.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
