<%= render "shared/banner" %>

<div class="container">
  <div class="cards-presentation">
    <h2>Discover the sports gear available</h2>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offers_path(query: offer.category), class: 'category-link text-decoration-none' do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(<%= image_path "#{offer.category}.png" %>)">
        <%= offer.category.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
