<%= render "shared/banner" %>

<div class="container">
  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path offer.photo.key %>)">
        <%= link_to offer.category.capitalize, offers_path(category: offer.category) %>
      </div>
    <% end %>
  </div>
</div>
