<%= render "shared/navbar" %>
<br><br><br>
<div class="all-info">
<p>Bonjour user.name</p>
  <div class="container profile">
    <div class="my-info">
      <h4>My profile</h4>
      <ul>
        <li>user.firstname</li>
        <li>user.lastname</li>
        <li>Member since user.created_at</li>
      </ul>
    </div>
    <div class="my-info">
      <h4>My dashboard</h4>
      <ul>
        <li>last booking.status</li>
      </ul>
    </div>
    <div class="my-info">
      <h4>My bookings history</h4>
      <ul>
        <li>booking.date booking.status</li>
      </ul>
    </div>
  </div>
</div>
