<%= render "shared/navbar" %>
  <div class="container">
    <p>Bonjour user.name</p>
    <div class="my-info">
      <h4>My profile</h4>
    </div>
    <div class="my-info">
      <h4>My dashboard</h4>
    </div>
    <div class="my-info">
      <h4>My offers</h4>
      <%= @offers%>
    </div>
    <div class="my-info">
      <h4>My bookings</h4>
      <%= @bookings%>
    </div>
  </div>
