<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <div class="card-product-text">
      <h3><%= offer.category %></h3>
      <h2><%= offer.product_name.capitalize %></h2>
      <p><%= offer.location %></p>
    </div>
    <div class="card-product-price">
      <%= offer.price %>
    </div>
  </div>
</div>
