<div class='background-new-offer' style="background-image: url(https://blush.design/api/download?shareUri=Fu7__vhLNZzdSfMd&c=Skin_0%7Eff9c8a-0.3%7Eff9c8a-0.4%7Effe571-0.5%7E9fe8eb&w=800&h=800&fm=png); background-repeat: no-repeat; background-size: 675px; background-position: 100% 25%;">
  <div class="welcome-message">
    <h4 class="row justify-content-center pt-5">Hey <%=current_user.first_name %>!</h4>
    <h5 class="row justify-content-center pt-3">You can update your current booking here</h5>
  </div>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-md-6">
        <%= render "offers/form" %>
        <div>
          <%= link_to "Back to offers", root_path%>
        </div>
      </div>
    </div>
  </div>
</div>
