<%= render "shared/navbar" %>
<h1>Offers</h1>

<div id="offers">
  <% @offers.each do |offer| %>
    <ul>
      <li><%= render offer %></li>
      <p>
        <%= link_to "Show this offer", offer %>
      </p>
    </ul>
  <% end %>
</div>

<%= link_to "New offer", new_offer_path %>
