
<div class='background-new-offer' style="background-image: url(https://blush.design/api/download?shareUri=d-zBsqqL4BRBFrQA&c=Skin_0%7Eff9c8a-0.2%7Eff9c8a&w=800&h=800&fm=png); background-repeat: no-repeat; background-size: 675px; background-position: 100% 25%;">
  <div class="welcome-message">
    <h4 class="row justify-content-center pt-5">Hello <%=current_user.first_name %>!</h4>
    <h5 class="row justify-content-center pt-3">you are in the right place to create a new offer.</h5>
  </div>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-md-6">
        <%= render "offers/form" %>
        <div>
          <%= link_to "Back to offers", root_path%>
        </div>
      </div>
    </div>
  </div>
</div>
