.banner {
  background-size: contain;
  background-position: 75% 25%;
  padding: 150px 0;
  position: relative;
  margin-bottom: 20px;
  height: 500px;
  background-color: #E2D784;
}

.banner h1 {
  margin: 0;
  color: #062C30;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.07);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  background-color: #05595B;
  color: white;
  border: #05595B;
}

.container > .form {
  background-color: transparent;
  border: solid 1px #F5F5F5;
  border-radius: 5px;
  height: 100px;
  width: 400px;
}

.banner .search {
  height: 150px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h5 {
  font-size: 8px;
  font-weight: lighter;
}
