.btn {
  background-color: #05595B;
  color: white;
  border: #05595B;
  transition: background 0.3s ease;
}

.btn:hover {
  color: white;
  background-color: #05595B;
  opacity: 0.8;
  box-shadow: 2px 2px 3px black;
}

.btn-edit-offer {
  font-size: 12px;
}
