#btn-navbar {
  background-color: #05595B;
  color: white;
  border: #05595B;
  border-radius: 5px;
  font-size: 13px;
  padding: 12px;
}

#btn-navbar:hover {
  color: white;
  background-color: #05595B;
  opacity: 0.8;
}
