.flatpickr-day .today .selected {
  background: #05595B !important;
  border-color: #05595B !important;
  border-radius: 6px 6px 0 0 !important;
}

.flatpickr-month {
  background: #05595B !important;
  color: white !important;
}
