.navbar-lewagon {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 60px;
    a {
      text-decoration: none;
      // font-size: 20px;
      // margin-left: 15px;
      color: #05595B;
    }
    h2 {
      margin: 0px;
      margin-left: 16px;
      font-size: 17px;
      font-weight: bold;
    }
}

.navbar-yellow {
  background: #E2D784;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .container-fluid {
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.fa-house {
  font-size: 23px;
  color: #F5F5F5;
  margin-right: 10px;
}

.fa-house:hover {
  opacity: 0.8;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
}

#dropdown-background {
  margin-top: 35% !important;
 }

 #nav-house {
  padding-left: 1.5rem !important;
 }
