.navbar-lewagon {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 60px;
}

.navbar-yellow {
  background: #E2D784;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .container-fluid {
  display: flex;
  flex-wrap: inherit;
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-item {
  margin-right: 10px;
}
